/* =======================
	Modules
	======================= */


// NAV
.m-nav {
	&__list {}
	&__list-item {}
	&__list-item-link {}
}

// CARD
.m-card {
	&__image {
		&-container {
			
		}
	}
}

// ACCORDION
.m-accordion {
	&__head {
		padding: 1.25rem;
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-icon {
			flex-shrink: 0;
		}
	}
	&__body {

	}
}

// FORM
.m-form {
	&__input {
		max-width: 20rem;
		&-label {
			
		}
	}
}

// BUTTON
.m-button {
	padding: 1.25rem 2.5rem;
}

// OVERLAYING LINK
.m-overlaying-link {
	position: absolute;
	inset: 0;
	z-index: 1;
	&__parent {
		position: relative;
	}
}