/* =======================
   Reset
   ======================= */

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:focus:not(:focus-visible) {
	outline: none
}

:root {
	box-sizing: border-box;
	text-size-adjust: none;
}